.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: 60px;
    width:auto;
    justify-content: space-around;
    background-color: #F9EFDB;
}
.nav-item{
    list-style: none;
    margin: 0 10px ;
    background-color: #257180;
    padding: 2px 4px 2px 4px;
    border-radius: 4px;

}
#signUp, #signIn{
    background-color:#9DBC98 ;
}
.nav-link{
    text-decoration: none;
    color: #EBD9B4;
}

#logo{
    object-fit: cover;
    height: 150px;
        
}
.nav-image{
    align-content:center;
}
.nav-buttons{
   align-content: flex-end;
   gap: 5px;
}
.navB{
    gap: 5px;
}